# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Instance Folder
instance/

# Database
*.db
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Other
.DS_Store
*.log